$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin media-tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin hide-mobile {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}
