$yellow: #FDBD29;

@mixin fontHeadings {
  font-family: "Literata", serif, "Georgia", "Times New Roman", Times, serif !important;
  font-weight: 400;
}

@mixin fontBody {
  font-family: "Merriweather", serif !important;
  font-weight: 400;
}

@mixin fontTitle {
  font-family: "American Typewriter" !important;
}

.topmenu {
  &__font {
    @include fontBody;
    font-size: 1.5rem !important;
  }

  &__button, &__select {
    background-color: #fd641f !important;
    color: white !important;
    font-family: inherit !important;
    height: 36px !important; 
    padding: 6px 16px !important; 
    border-radius: 4px !important; 
    display: flex !important; 
    align-items: center !important; 
    border: 1px solid #FDBD29 !important;
    outline:  #FDBD29 !important; 
  }

  .MuiSelect-root {
    padding-right: 32px !important; 
    border-color: #FDBD29 !important; 
    border-width: 2px !important;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
  .css-1yk1gt9-MuiInputBase-root.MuiOutlinedInput-root.MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-root.MuiInputBase-colorPrimary .MuiOutlinedInput-notchedOutline {
    border-color: #FDBD29 !important; 
    border-width: 2px !important;
    
  }



  .MuiSelect-icon {
    fill:#FDBD29!important; 
  }
}
